
.assignment{
    width: 75%;
    padding: 32px;
    .header{
        margin-bottom: 43px;
        .assignment-title{
            margin-right: 48px;
        }
        
    }
    .dropdown-icon{
        color: #198754;
    }
    .header-icon span{
        color: #212529;
    }  
    .commit{
        color: #6C757D;
        font-size: 12px;
        
    }
}
.Classification{
    margin-bottom: 6px;
}

.assignment-list{
    width: 35%;
    font-size: 12px;
    .assignment-name{
        color: #6C757D;
    }
}
.assignment-info{
    width: 63%;
    position: relative;
}
.infobox{
    border: 1px solid #CED4DA;
    .info-title{
        font-size: 12px;
    }
    .list-group-item{
        background-color: #F8F9FA;
        border: 0;
        border-bottom: 1px solid #CED4DA;
    }
    .assignment-photo{
        width: 10%;
    }
    .info-text{
        border-bottom: 1px solid #CED4DA;
        width: 90%;
    }
    
    .photo{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
    }
    .time-text{
        font-size: 12px;
    }
    .assignment-text{
        font-size: 14px;
    }
    .attached{
        background-color: #F8F9FA;
        border: 1px solid #CED4DA;
        padding: 10px;
        border-radius: 2px;
        width: 40%;
    }
   
}
.return{
    .btn{
        padding: 8px 32px;
        border-radius: 2px;
    }
}
.list-group-item.active{
    background-color: #F8F9FA;
    color: #212529;
    border: 1px solid #CED4DA;
}

.editorbox{
    width: 100%;
    position: relative;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}
.editor-btn{
    position: absolute;
    bottom: 16px;
    right: 24px;
}

.ck-editor__editable {
    min-height: 319px;
  
}
